<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="boardMapper">
	<select id="getBoardListCount" resultType="_int">
		select count(*) from board where board_status = 'Y' and board_type IN (11, 12, 13, 14)
	</select>
	<!-- 전체 게시글 목록 -->
	<select id="selectBoardList" resultMap="boardResultSet" >
		select * from board
			join attachment on(board_num = serialnumber)
		where board_status = 'Y' and
 		<if test="boardCategory == 1">
		board.board_type in (11,12,13,14)
 		</if>
		<if test="boardCategory != 1 ">
		board.board_type = #{boardCategory}
		</if>
		order by board_num desc
	 </select>
	 
	 <select id="topBoardList" resultMap="boardResultSet" >
		select * from (select * from board
			join attachment on(board_num = serialnumber)
		where board_status = 'Y' and
		board.board_type in (11,12,13,14)
		order by board_view desc) 
        where rownum <![CDATA[<=]]> 5
	 </select>
	 
	 <select id="topBoardAttList" resultMap="attachmentResultSet">
	 	select * from (select * from attachment
			join board on(serialnumber = board_num)
		where board_status = 'Y' 
				    	and board.board_type in (11,12,13,14)
		order by board_view desc) 
        where rownum <![CDATA[<=]]> 5
	 </select>
	
<!-- 	<select id="selectPhotoList" resultMap="attachmentResultSet">
		select * from attachment 
			where attach_status = 'Y' 
			and 
			<if test="boardCategory == 1 ">
			board_type in (11, 12, 13, 14)
			</if>
			<if test="boardCategory != 1 ">
			board_type = #{boardCategory}		
			</if>
			order by serialNumber desc
	</select> -->
	
		<insert id="insertBoard">
		insert into board values(seq_board.nextval, #{boardTitle}, #{boardContent}, sysdate, sysdate, default, default, #{userNum}, #{boardType})
		</insert>
	
<!-- 	<insert id="insertBoard">
		insert all
		into board values(seq_board.nextval, #{boardTitle}, #{boardContent}, sysdate, sysdate, default, default, #{userNum}, #{boardType})
		into boardMap values(seq_boardmap.nextval, seq_board.currval, #{mapValue})
		select * from dual
	</insert> -->
<!-- 	<insert id="insertPhoto">
		insert into attachment values(seq_attach.nextval, sysdate, #{attachName}, #{attachRename}, #{attachPath}, #{boardType}, seq_board.currval, 'Y')
	</insert>
 -->	
 	<!-- 썸네일 삽입 -->
	<insert id="insertThumbnail">
		insert into attachment values(seq_attach.nextval, sysdate, #{attachName}, #{attachRename}, #{attachPath}, #{boardType}, seq_board.currval, 'Y')
	</insert>
	
	<!-- 썸네일 가져오기 -->
	<select id="selectThumbnail" resultMap="attachmentResultSet">
		select * from attachment
		where board_type in (11, 12, 13, 14) and serialnumber = #{boardNum}
	</select>
	<!-- 게시글 업데이트 -->
	<update id="updateBoard">
		update board 
		set board_title = #{boardTitle}, board_content = #{boardContent}, 
			  board_type = #{boardType}, board_modifydate = sysdate
		where board_status = 'Y' and board_num = #{boardNum}
	</update>
	<!-- 썸네일 업데이트 -->
	<update id="updateThumbnail">
		update attachment 
		set attach_rename = #{attachment.attachrename},
			  attach_name = #{attachment.attachName}, attach_path = #{attachment.attachPath},
			  board_type = #{boardType} where serialnumber = #{boardNum}
	</update>
	<!-- 게시글 조회수 -->
	<update id="viewCount">
		update board set board_view = board_view + 1
		where board_num = #{boardNum}
	</update>
	<!-- 게시글 상세보기 -->
	<select id="boardView" resultMap="boardResultSet">
		select * from board
			join attachment on(board_num = serialnumber)
			left join member using(user_num)
			left join general_user using(user_num)
		where board_status = 'Y' 
				    and board_num = #{boardNum}
	</select>
	
<!-- 	<select id="photoView"  resultMap="attachmentResultSet">
		select * from attachment
		where attach_status = 'Y' and serialnumber = #{boardNum}
	</select> -->
	
	<!-- 게시글 삭제 -->
	<update id="deleteBoard">
		update board set board_status = 'N' where board_num = #{boardNum}
	</update>
	<!-- 댓글 작성 -->
	<insert id="insertReply">
		insert into reply values(seq_reply.nextval, #{replyContent}, sysdate, default, #{boardType}, #{boardNum}, #{userNum})
	</insert>
	<!-- 댓글 리스트 -->
	<select id="replyList" resultMap="replyResultSet">
		select * from reply 
			join member using(user_num)
		where board_num = #{boardNum}
		and reply_status = 'Y'
		order by reply_num desc
	</select>
	<!-- 댓글 수 -->
	<select id="replyCount" resultType="_int">
		select count(*) from reply
		where reply_status = 'Y' and board_num = #{boardNum}
	</select>
	<!-- 댓글 삭제 -->
	<update id="deleteReply">
		update reply set reply_status = 'N' where reply_num = #{replyNum}
	</update>
	<!-- 조건 검색 수 -->
	<select id="getSearchListCount" parameterType="map" resultType="_int">
		select count(*) from board
			join member using(user_num)
			join attachment on(board_num = serialnumber)
		where board_status = 'Y' and board.board_type in (11,12,13,14)
		<if test="condition == 1">
			and user_nickname like '%' || #{value} || '%'
		</if>
		<if test="condition == 2">
			and board_title like '%' || #{value} || '%'
		</if>
		<if test="condition == 3">
			and board_content like '%' || #{value} || '%'
		</if>
	</select>
	<!-- 조건 검색 리스트 -->
	<select id="searchList" parameterType="hashmap" resultMap="boardResultSet">
		select * from board
			join member using(user_num)
			join attachment on(board_num = serialnumber)
		where board_status = 'Y' and board.board_type in (11,12,13,14)
		<choose>
			<when test="condition == 1">
				and user_nickname like '%' || #{value} || '%'
			</when>
			<when test="condition == 2">
				and board_title like '%' || #{value} || '%'
			</when>
			<otherwise>
				and board_content like '%' || #{value} || '%'
			</otherwise>
		</choose>
		order by board_num desc
	</select>
   	
   	<resultMap type="Member" id="memberResultSet">
      <id column="USER_NUM" property="userNum"/>
      <result column="USER_ID" property="userId"/>
      <result column="USER_PWD" property="userPwd"/>
      <result column="USER_NAME" property="userName"/>
      <result column="USER_NICKNAME" property="userNickname"/>
      <result column="USER_EMAIL" property="email"/>
      <result column="USER_GENDER" property="gender"/>
      <result column="USER_BIRTH" property="userBirth"/>
      <result column="USER_PHONE" property="userPhone"/>
      <result column="USER_RECOMMEND" property="userRecommend"/>
      <result column="USER_ENROLLDATE" property="userEnrollDate"/>
      <result column="USER_CNUMBER" property="userCNumber"/>
      <result column="USER_STATUS" property="userStatus"/>
      <result column="USER_MODIFYDATE" property="userModifyDate"/>
   	  <result column="USER_POINT" property="userPoint"/>
   </resultMap>
	
	<resultMap type="Story" id="boardResultSet">
		<id column="BOARD_NUM" property="boardNum"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="BOARD_CREATEDATE" property="boardCreateDate"/>
		<result column="BOARD_MODIFYDATE" property="boardModifyDate"/>
		<result column="BOARD_VIEW" property="boardView"/>
		<result column="BOARD_STATUS" property="boardStatus"/>
		<result column="USER_NUM" property="userNum"/>
		<result column="BOARD_TYPE" property="boardType"/>
		<association property="attachment" javaType="Attachment" resultMap="attachmentResultSet" />
		<association property="member" javaType="Member" resultMap="memberResultSet" />
		<association property="generaluser" javaType="GeneralUser" resultMap="generalUserResultSet" />
	</resultMap>
	
	<resultMap type="Reply" id="replyResultSet">
		<id column="REPLY_NUM" property="replyNum"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="REPLY_DATE" property="replyDate"/>
		<result column="REPLY_STATUS" property="replyStatus"/>
		<result column="BOARD_TYPE" property="boardType"/>
		<result column="BOARD_NUM" property="boardNum"/>
		<result column="USER_NUM" property="userNum"/>
		<association property="member" javaType="Member" resultMap="memberResultSet" />
	</resultMap>
	
	<resultMap type="Attachment" id="attachmentResultSet">
		<id column="ATTACH_NUM" property="attachNum"/>
		<result column="ATTACH_UPLOADDATE" property="attachUploadDate"/>
		<result column="ATTACH_NAME" property="attachName"/>
		<result column="ATTACH_RENAME" property="attachRename"/>
		<result column="ATTACH_PATH" property="attachPath"/>
		<result column="BOARD_TYPE" property="boardType"/>
		<result column="SERIALNUMBER" property="serialNumber"/>
		<result column="ATTACH_STATUS" property="attachStatus"/>		
	</resultMap>
	
	<resultMap type="BoardMap" id="boardmapResultSet">
		<id column="BOARDMAP_NUM" property="boardmapNum"/>
		<result column="BOARD_NUM" property="boardNum"/>
		<result column="MAP_VALUE" property="mapValue"/>
		<association property="boardmap" javaType="BoardMap" resultMap="boardResultSet" />
	</resultMap>
	
	<resultMap type="GeneralUser" id="generalUserResultSet">
		<id column="USER_NUM" property="userNum" />
		<result column="USER_ZIPCODE" property="userZipcode"/>
		<result column="USER_ADDRESS" property="userAddress"/>
		<result column="USER_ADDRESS_DETAIL" property="userAddressDetail"/>
		<result column="USER_HEALTH" property="userHealth"/>
	</resultMap>

	
	
</mapper>