<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

   <select id="checkId" resultType="_int">
      select count(*)
      from member
      where user_id = #{id}
   </select>
   
   <select id="checkNickName" resultType="_int">
      select count(*)
      from member
      where user_nickname=#{nickName}
   </select>
   
   <select id="searchEmail" resultType="_int">
      select count(*)
      from member
      where user_Email=#{memberEmail} and user_status='Y'
   </select>
   
   <insert id="insertMember">
      insert into member
      values(seq_user.nextval, #{userId}, #{userPwd}, #{userName}, #{userNickname},
          #{email}, #{gender}, #{userBirth}, #{userPhone},#{userRecommend},SYSDATE,#{userCNumber},DEFAULT,SYSDATE,DEFAULT)
   </insert>
   
   <select id="selectMember" resultType="_int">
      select user_num
      from member
      where user_id = #{userId}
   </select>
   
   <insert id="insertMemberAddress">
   <if test="category == 'general'">
      insert into general_user
      values(#{userNum},#{userZipcode},#{userAddress},#{userAddressDetail},#{userHealth})
   </if>
   <if test="category == 'export'">         
      insert into expert_user
      values(#{userNum},#{userZipcode},#{userAddress},#{userAddressDetail},'N','N','N','N','N','N',DEFAULT,'N','N')
   </if>   
   </insert>
   
   <select id="login" resultMap="loginResultMap">
      select * 
      from member 
      where user_id=#{userId} and user_status='Y'
   </select>
   
   <update id="updateMember">
      update member
      set  user_name=#{userName},
         user_nickname=#{userNickname}, user_email=#{email}, user_gender=#{gender}, user_birth=#{userBirth}
      where user_id=#{userId}
   </update>
   <insert id="updateMemberAddress">
   <if test="category == 'general'">
      update general_user
      set user_zipcode=#{userZipcode}, user_address=#{userAddress}, user_Address_detail=#{userAddressDetail}, user_health=#{userHealth}
      where user_Num=#{userNum}
   </if>
   <if test="category == 'export'">         
      update expert_user
      set expert_postadd=#{userZipcode}, expert_address=#{userAddress}, expert_Add_detail=#{userAddressDetail}
      where user_Num=#{userNum}
   </if>   
   </insert>
   
   <select id="searchId" resultMap="loginResultMap">
      select *
      from member
      where USER_NAME=#{userName} and USER_EMAIL=#{email} and user_status='Y'
   </select>
   
   <select id="checkIdEmail" resultMap="loginResultMap">
      select *
      from member
      where USER_Id=#{userId} and user_status='Y'
   </select>
   
   <select id="searchRecommend" resultMap="loginResultMap">
      select *
      from member
      where USER_RECOMMEND = #{userRecommend} and user_status='Y'
   </select>
   
   <insert id="pointAdd">
      insert into point
		values(seq_point.nextval,#{updateName}, +#{updatePoint}, SYSDATE,
			 #{id})
   </insert>
   
    <select id="checkRecommend" resultType="_int">
      select count(*)
      from member
      where USER_RECOMMEND = #{userRecommend} and user_status='Y'
   </select>
   
   <update id="totalPoint">
      update member
      set USER_POINT = USER_POINT+1000
      where USER_NUM=#{i}
   </update>
   
   <select id="searchMyUserNum" resultMap="loginResultMap">
   	  select *
      from member
      where USER_ID = #{userId} and user_status='Y'
   </select>
   
   <update id="updatePwd">
      update member
      set USER_PWD=#{encPwd}
      where USER_ID=#{memberId}
   </update>
   
   <resultMap type="Member" id="loginResultMap">
      <id column="USER_NUM" property="userNum"/>
      <result column="USER_ID" property="userId"/>
      <result column="USER_PWD" property="userPwd"/>
      <result column="USER_NAME" property="userName"/>
      <result column="USER_NICKNAME" property="userNickname"/>
      <result column="USER_EMAIL" property="email"/>
      <result column="USER_GENDER" property="gender"/>
      <result column="USER_BIRTH" property="userBirth"/>
      <result column="USER_PHONE" property="userPhone"/>
      <result column="USER_RECOMMEND" property="userRecommend"/>
      <result column="USER_ENROLLDATE" property="userEnrollDate"/>
      <result column="USER_CNUMBER" property="userCNumber"/>
      <result column="USER_STATUS" property="userStatus"/>
      <result column="USER_MODIFYDATE" property="userModifyDate"/>
      <result column="USER_POINT" property="userPoint"/>
   </resultMap>
   
   <resultMap type="Point" id="pointResultMap">
		<id column="POINT_NUM" property="pointNum"/>
		<result column="POINT_CONTENT" property="pointContent"/>
		<result column="POINT_AMOUNT" property="pointAmount"/>
		<result column="POINT_DATE" property="pointDate"/>
		<result column="USER_NUM" property="userNum"/>
	</resultMap>
   
   <insert id="insertBasicAddress">
	insert into address
	values (seq_address.nextval,#{userName}, #{addressAddressee}, #{addressPhone},
			 #{addressZipcode}, #{addressBuilding}, #{addressDetail}, 'Y' ,#{userNum}, default)
   </insert>
</mapper>