<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qnaMapper">

 	<resultMap type="Member" id="Member">
  		<id column="USER_NUM" property="userNum"/>
  		<result column="USER_ID" property="userId"/>
  		<result column="USER_NAME" property="userName"/>
  		<result column="USER_NICKNAME" property="userNickname"/>
  		<result column="USER_EMAIL" property="email"/>
  		<result column="USER_GENDER" property="gender"/>
  		<result column="USER_BIRTH" property="userBirth"/>
  		<result column="USER_PHONE" property="userPhone"/>
  		<result column="USER_RECOMMEND" property="userRecommend"/>
  		<result column="USER_ENROLLDATE" property="userEnrollDate"/>
  		<result column="USER_CNUMBER" property="userCNumber"/>
  		<result column="USER_STATUS" property="userStatus"/>
  		<result column="USER_MODIFYDATE" property="userModifyDate"/>
  	</resultMap>
  	
  	<resultMap type="ExpertUser" id="ExpertUser">
  	  	<id column="USER_NUM" property="userNum"/>
  		<result column="EXPERT_POSTADD" property="expertPostAdd"/>
  		<result column="EXPERT_ADDRESS" property="expertAddress"/>
  		<result column="EXPERT_ADD_DETAIL" property="expertAddDetail"/>
  		<result column="EXPERT_SORT" property="expertSort"/>
  		<result column="EXPERT_MEDI" property="expertMedi"/>
  		<result column="EXPERT_DEPT" property="expertDept"/>
  		<result column="EXPERT_PROFILE" property="expertProfile"/>
  		<result column="EXPERT_HOMEPAGE" property="expertHomepage"/>
  		<result column="EXPERT_CAREER" property="expertCareer"/>
  		<result column="EXPERT_ESTIMATE" property="expertEstimate"/>
  	</resultMap>
  	
	<resultMap type="Board" id="Board">
  		<id column="BOARD_NUM" property="boardNum"/>
  		<result column="BOARD_TITLE" property="boardTitle"/>
  		<result column="BOARD_CONTENT" property="boardContent"/>
  		<result column="BOARD_CREATEDATE" property="boardCreateDate"/>
  		<result column="BOARD_MODIFYDATE" property="boardModifyDate"/>
  		<result column="BOARD_VIEW" property="boardView"/>
  		<result column="BOARD_STATUS" property="boardStatus"/>
  		<result column="USER_NUM" property="userNum"/>
  		<result column="BOARD_TYPE" property="boardType"/>
  	</resultMap>
  	
	<resultMap type="Question" id="Question">
  		<id column="BOARD_NUM" property="questionNum"/>
  		<result column="PRO_NUM" property="proNum"/>
  		<result column="IS_READ" property="isRead"/>
  		<result column="IS_SOLVED" property="isSolved"/>
  	</resultMap>
  	
	<resultMap type="Answer" id="Answer">
  		<id column="BOARD_NUM" property="answerNum"/>
  		<result column="QUESTION_NUM" property="questionNum"/>
  		<result column="PRO_NUM" property="proNum"/>
  	</resultMap>
  	
	<resultMap type="SupplementRespDto" id="SupplementRespDto">
  		<id column="PRO_NUM" property="proNum"/>
  		<result column="PRO_IMAGE" property="proImage"/>
  		<result column="PRO_NAME" property="proName"/>
  		<result column="PRO_COMPANY" property="proCompany"/>
  		<result column="PRO_EFFECT" property="proEffect"/>
  		<result column="CATE_NAME" property="cateName"/>
	</resultMap>
	
	<resultMap type="Attachment" id="Attachment">
		<id column="ATTACH_NUM" property="attachNum"/>
  		<result column="ATTACH_UPLOADDATE" property="attachUploadDate"/>
  		<result column="ATTACH_NAME" property="attachName"/>
  		<result column="ATTACH_RENAME" property="attachRename"/>
  		<result column="ATTACH_PATH" property="attachPath"/>
  		<result column="BOARD_TYPE" property="boardType"/>
  		<result column="SERIALNUMBER" property="serialNumber"/>
  		<result column="ATTACH_STATUS" property="attachStatus"/>
	</resultMap>

  	<resultMap type="QuestionRespDto" id="QuestionRespDto">
  	  	<id column="BOARD_NUM" property="board.boardNum"/>
	  	<association property="board" javaType="Board" resultMap="Board"/>
	  	<association property="question" javaType="Question" resultMap="Question"/>
	  	<association property="qattach" javaType="Attachment" resultMap="Attachment"/>
  		<collection column="BOARD_NUM" property="answerList" javaType="java.util.ArrayList" ofType="AnswerRespDto" select="selectAnswerList"/>
  	</resultMap>
  	
  	<resultMap type="AnswerRespDto" id="AnswerRespDto">
  	  	<id column="BOARD_NUM" property="board.boardNum"/>
		<association property="board" javaType="Board" resultMap="Board"/>
	  	<association property="answer" javaType="Answer" resultMap="Answer"/>
	  	<association property="aattach" javaType="Attachment" resultMap="Attachment"/>
	  	<association property="eresp" javaType="Attachment" resultMap="Attachment"/>
  	</resultMap>
  	
  	<resultMap type="ExpertRespDto" id="ExpertRespDto">
		<association property="member" javaType="Member" resultMap="Member"/>
		<association property="expert" javaType="ExpertUser" resultMap="ExpertUser"/>
		<association property="eattach" javaType="Attachment" resultMap="Attachment"/>
  	</resultMap>

	<select id="login" resultMap="Member">
		SELECT * FROM MEMBER WHERE USER_NUM = #{userNum}
	</select>
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM QUESTION
	</select>
	
	<!-- 	본인(userNum)이 작성한 질문 조회 -->
	<select id="getMyQuestions" resultMap="QuestionRespDto">
		SELECT * FROM BOARD 
		JOIN QUESTION ON (BOARD_NUM=QUESTION_NUM) 
		LEFT JOIN ATTACHMENT ON (BOARD_NUM=SERIALNUMBER)
		WHERE BOARD.BOARD_TYPE='5' AND BOARD_STATUS='Y' AND USER_NUM = #{userNum}
		ORDER BY BOARD_NUM
	</select>

	<!-- 	질문(boardNum)에 대한 답변 리스트 조회 -->
	<select id="selectAnswerList" resultMap="AnswerRespDto">
		SELECT * FROM BOARD
		JOIN ANSWER ON (BOARD_NUM=ANSWER_NUM)
		LEFT JOIN ATTACHMENT ON (BOARD_NUM=SERIALNUMBER)
		WHERE 
		BOARD.BOARD_TYPE='8' AND 
		BOARD_STATUS='Y' AND 
		(QUESTION_NUM = #{boardNum})
		ORDER BY QUESTION_NUM DESC
	</select>
	
	<!-- 	질문(boardNum)글 관련 영양제 -->
	<select id="selectQuestSresp" resultMap="SupplementRespDto">
		SELECT PRO_NUM, PRO_IMAGE, PRO_NAME, PRO_COMPANY, PRO_EFFECT, CATE_NAME 
		FROM PRODUCT JOIN CATEGORY USING (CATE_NUM)
		WHERE PRO_NUM = 
		(SELECT PRO_NUM FROM QUESTION WHERE QUESTION_NUM = #{boardNum})
	</select>
	
	<!-- 	답글(boardNum) 관련 영양제 -->
	<select id="selectAnswerSresp" resultMap="SupplementRespDto">
		SELECT PRO_NUM, PRO_IMAGE, PRO_NAME, PRO_COMPANY, PRO_EFFECT, CATE_NAME 
		FROM PRODUCT JOIN CATEGORY USING (CATE_NUM)
		WHERE PRO_NUM = 
		(SELECT PRO_NUM FROM ANSWER WHERE ANSWER_NUM = #{boardNum})
	</select>
	
	<!--  질문목록 모두 조회 -->
	<select id="selectQuestionList" resultMap="QuestionRespDto">
		SELECT * FROM BOARD 
		JOIN QUESTION ON (BOARD_NUM=QUESTION_NUM) 
		LEFT JOIN ATTACHMENT ON (BOARD_NUM=SERIALNUMBER)
		WHERE BOARD.BOARD_TYPE = '5' AND BOARD_STATUS = 'Y' ORDER BY BOARD_NUM DESC
	</select>
	
	<!-- 글쓴이 정보반환(map) 	 -->
	<select id="getWriterInfoMap" resultType="map">
		SELECT USER_GENDER, USER_BIRTH FROM MEMBER WHERE USER_NUM = #{userNum}
	</select>
	
	<!-- 상위 두 개 게시글 반환 -->
	<select id="getTopTwo" resultMap="QuestionRespDto">
		SELECT * FROM 
		(
			SELECT * FROM BOARD 
			JOIN QUESTION ON (BOARD_NUM=QUESTION_NUM) 
			LEFT JOIN ATTACHMENT ON (BOARD_NUM=SERIALNUMBER)
			WHERE BOARD.BOARD_TYPE='5' AND BOARD_STATUS='Y'
			ORDER BY BOARD_VIEW DESC
		) 
		<![CDATA[WHERE ROWNUM <=2]]>
	</select>
	
	<!-- 영양제 목록 조회 -->
	<select id="searchSupplement" resultMap="SupplementRespDto">
		SELECT PRO_NUM, PRO_IMAGE, PRO_NAME, PRO_COMPANY, PRO_EFFECT, CATE_NAME
		FROM PRODUCT
		JOIN CATEGORY USING (CATE_NUM)
		WHERE PRO_NAME LIKE '%#{keyword}%'
	</select>

	<!-- 질문(quest) 삽입 -->
	<insert id="insertQuestion">
		INSERT ALL 
			INTO BOARD VALUES(SEQ_BOARD.NEXTVAL, #{boardTitle}, #{boardContent}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, #{userNum}, 5)
			INTO QUESTION VALUES(SEQ_BOARD.CURRVAL, 
				<if test="supplement != null &amp;&amp; !supplement.equals('')">
					#{supplement}, 
				</if>
				<if test="supplement == null or supplement.equals('')">
					NULL,
				</if>
			DEFAULT, DEFAULT)
			<if test="attachParam != null">
				INTO ATTACHMENT VALUES (SEQ_ATTACH.NEXTVAL, DEFAULT, #{attachParam.attachName}, #{attachParam.attachRename}, #{attachParam.attachPath}, 5, SEQ_BOARD.CURRVAL, DEFAULT)
			</if>
		SELECT * FROM DUAL
	</insert>
	
	<!-- 질문(boardNum) 게시글 조회 -->
	<select id="selectQuestion" resultMap="QuestionRespDto">
		SELECT * FROM BOARD 
		JOIN QUESTION ON (BOARD_NUM=QUESTION_NUM) 
		LEFT JOIN ATTACHMENT ON (BOARD_NUM=SERIALNUMBER)
		WHERE BOARD_NUM = #{boardNum}
	</select>
	
	<!-- 조회수 증가 -->	
	<update id="addViewCount">UPDATE BOARD SET BOARD_VIEW = BOARD_VIEW + 1 WHERE BOARD_NUM = #{boardNum} </update>
	
	<!-- 글쓴이 읽음 처리 -->
	<update id="updateIsRead">UPDATE QUESTION SET IS_READ = 'Y' WHERE QUESTION_NUM = #{boardNum} </update>
	
	<!-- 답변(quest) 삽입 -->
	<insert id="insertAnswer">
		INSERT ALL 
			INTO BOARD VALUES(SEQ_BOARD.NEXTVAL, 'ANSWER' , #{boardContent}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, #{userNum}, 8)
			INTO ANSWER VALUES(SEQ_BOARD.CURRVAL, #{boardTitle}
				<if test="supplement != null &amp;&amp; !supplement.equals('')">
					, #{supplement}
				</if>
				<if test="supplement == null or supplement.equals('')">
					, NULL
				</if>
			)
			<if test="attachParam != null">
				INTO ATTACHMENT VALUES (SEQ_ATTACH.NEXTVAL, DEFAULT, #{attachParam.attachName}, #{attachParam.attachRename}, #{attachParam.attachPath}, 8, SEQ_BOARD.CURRVAL, DEFAULT)
			</if>
		SELECT * FROM DUAL
	</insert>
	
	
</mapper>
