<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="shoppingMapper">

	<resultMap type="Supplement" id="supplementResultSet">
		<id column="PRO_NUM" property="proNum"/>
		<result column="PRO_IMAGE" property="proImage"/>
		<result column="PRO_NAME" property="proName"/>
		<result column="PRO_COMPANY" property="proCompany"/>
		<result column="PRO_INGREDIENT" property="proIngredient"/>
		<result column="PRO_PRICE" property="proPrice"/>
		<result column="PRO_EFFECT" property="proEffect"/>
		<result column="PRO_INTAKE" property="proIntake"/>
		<result column="PRO_SALE_STATUS" property="proSaleStatus"/>
		<result column="PRO_CREATEDATE" property="proCreateDate"/>
		<result column="PRO_MODIFYDATE" property="proModifyDate"/>
		<result column="PRO_GRADE" property="proGrade"/>
		<result column="PRO_STATUS" property="proStatus"/>
		<result column="CATE_NUM" property="cateNum"/>
	</resultMap>

	<resultMap type="Address" id="addressListResultMap">
		<id column="ADDRESS_NUM" property="addressNum"/>
		<result column="ADDRESS_NAME" property="addressName"/>
		<result column="ADDRESS_ADDRESSEE" property="addressAddressee"/>
		<result column="ADDRESS_PHONE" property="addressPhone"/>
		<result column="ADDRESS_ZIPCODE" property="addressZipcode"/>
		<result column="ADDRESS_BUILDING" property="addressBuilding"/>
		<result column="ADDRESS_DETAIL" property="addressDetail"/>
		<result column="ADDRESS_BASIC" property="addressBasic"/>
		<result column="USER_NUM" property="userNum"/>
		<result column="ADDRESS_STATUS" property="addressStatus"/>
	</resultMap>	
	
	<resultMap type="Cart" id="cartListResultSet">
		<id column="CART_NUM" property="cartNum"/>
		<result column="USER_NUM" property="userNum"/>
		<result column="PRO_NUM" property="proNum"/>
		<result column="CART_QUANTITY" property="cartQuantity"/>
<!-- 		<collection property="cartSupplementList" column="USER_NUM" select="selectCartViewList"></collection> -->
		<association property="supplement" resultMap="supplementResultSet" javaType="Supplement"/>
	</resultMap>
	
	<resultMap type="PaymentDTO" id="paymentDTOResultSet">
		<association property="cart" resultMap="cartListResultSet" javaType="Cart"/>
		<association property="address" resultMap="addressListResultMap" javaType="Address"/>
	</resultMap>
	
	<resultMap type="Member" id="memberResultSet">
		<id column="USER_NUM" property="userNum"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_PWD" property="userPwd"/>
		<result column="USER_NAME" property="userName"/>
		<result column="USER_NICKNAME" property="userNickname"/>
		<result column="USER_EMAIL" property="email"/>
		<result column="USER_GENDER" property="gender"/>
		<result column="USER_BIRTH" property="userBirth"/>
		<result column="USER_PHONE" property="userPhone"/>
		<result column="USER_RECOMMEND" property="userRecommend"/>
		<result column="USER_ENROLLDATE" property="userEnrollDate"/>
		<result column="USER_CNUMBER" property="userCNumber"/>
		<result column="USER_STATUS" property="userStatus"/>
		<result column="USER_MODIFYDATE" property="userModifyDate"/>
		<result column="USER_POINT" property="userPoint"/>
	</resultMap>
	
	<resultMap type="GeneralUser" id="generalUserResultSet">
		<id column="USER_NUM" property="userNum"/>
		<result column="USER_ZIPCODE" property="userZipcode"/>
		<result column="USER_ADDRESS" property="userAddress"/>
		<result column="USER_ADDRESS_DETAIL" property="userAddressDetail"/>
		<result column="USER_HEALTH" property="userHealth"/>
	</resultMap>
		
	<resultMap type="Coupon" id="couponResultSet">
		<id column="COU_NUMBER" property="couNumber"/>
		<result column="COU_PUBLISHDATE" property="couPublishDate"/>
		<result column="COU_ENDDATE" property="couEndDate"/>
		<result column="COU_USED" property="couUsed"/>
		<result column="COU_DISCOUNT" property="couDiscount"/>
		<result column="COU_INTRO" property="couIntro"/>
		<result column="USER_NUM" property="userNum"/>
	</resultMap>
	
	<resultMap type="Orders" id="ordersResultSet">
		<id column="ORDER_NUM" property="orderNum"/>
		<result column="ORDER_CODE" property="orderCode"/>
		<result column="USER_NUM" property="userNum"/>
		<result column="USER_ID" property="userId"/>
		<result column="ORDER_DATE" property="orderDate"/>
		<result column="ORDER_STATUS" property="orderStatus"/>
		<result column="ORDER_PAYAMOUNT" property="orderPayAmount"/>
		<result column="ORDER_TOTALPRICE" property="orderTotalPrice"/>
		<result column="ORDER_USERNAME" property="orderUserName"/>
		<result column="ORDER_PAYMETHOD" property="orderPaymethod"/>
		<result column="ORDER_COUPONPRICE" property="orderCouponPrice"/>
		<result column="ORDER_IMPCODE" property="orderImpCode"/>
		<result column="ORDER_PHONE" property="orderPhone"/>
		<result column="ADDRESS_NUM" property="addressNum"/>
		<result column="ORDER_REQUEST" property="orderRequest"/>
	</resultMap>
	
	<resultMap type="OrderDetails" id="orderDetailsResultSet">
		<id column="ORDER_CODE" property="orderCode"/>
		<result column="PRO_NUM" property="proNum"/>
		<result column="PRO_NAME" property="proName"/>
		<result column="ORDER_QUANTITY" property="orderQuantity"/>
	</resultMap>
	
	
	<resultMap type="OrderListDTO" id="orderListResultSet">
		<association property="orders" javaType="Orders" resultMap="ordersResultSet"/>
		<association property="orderDetails" javaType="OrderDetails" resultMap="orderDetailsResultSet"/>
	</resultMap>
	
	<select id="selectSupplementList" resultMap="supplementResultSet">
		select *
		from product
		where pro_sale_status = 'Y'
		order by pro_num asc
	</select>
	
	<select id="selectReviewCount" resultType="_int">
		SELECT COUNT (*) FROM REVIEW JOIN PRODUCT USING (PRO_NUM) WHERE PRO_NUM = #{proNum}
	</select>
	
	<select id="selectTrendList" resultMap="supplementResultSet">
		select *
		from product
			left outer join sale_product using(pro_num)
		where pro_sale_status = 'Y'
		order by pro_viewcount desc
	</select>
	
	
	<select id="selectBestsellerList" resultMap="supplementResultSet">
		select *
		from product
			left outer join sale_product using(pro_num)
		where pro_sale_status = 'Y'
		order by pro_grade desc	
	</select>
	
	
	<select id="selectDetail" resultMap="supplementResultSet">
		select *
		from product
			left outer join sale_product using(pro_num)
		where pro_sale_status = 'Y' and pro_status = 'Y' and pro_num = #{proNum}
	</select>
	
	
	<select id="selemetMember" resultMap="memberResultSet">
		select *
		from member
		where user_status='Y' and user_num=#{i}
	</select>
	
	
	<select id="selectGu" resultMap="generalUserResultSet">
		select * 
		from general_user
		where user_num=#{i}
	</select>
	
	
	<insert id="insertAddress">
		insert into address
		values (seq_address.nextval,#{addressName}, #{addressAddressee}, #{addressPhone},
				 #{addressZipcode}, #{addressBuilding}, #{addressDetail}, #{addressBasic},#{userNum}, default)
	</insert>
	
	
	<select id="selectAddressList" resultMap="addressListResultMap">
		select *
		from address
		where user_num = #{userNum} and address_status='Y'
		order by address_num desc
	</select>
	
	
	<update id="updateAddress">
		update address
		set address_name = #{addressName},
			address_addressee = #{addressAddressee},
			address_phone = #{addressPhone},
			address_zipcode = #{addressZipcode},
			address_building = #{addressBuilding},
			address_detail =#{addressDetail},
			address_basic = #{addressBasic}
		where address_num = #{addressNum} and address_status='Y'
	</update>
	
	
	<update id="updateBasicAll">
		update address
		set address_basic = 'N'
		where user_num = #{userNum}
	</update>
	
	
	<update id="deleteAddress">
		update address
		set address_status = 'N'
		where address_num = #{addressNum}
	</update>
	
	
	<insert id="insertCart">
		insert into cart
		values (seq_cart.nextval, #{userNum}, #{proNum}, #{cartQuantity})
	</insert>
	
	
	<select id="selectCartList" resultMap="cartListResultSet">
		select *
		from cart
		where user_num = #{userNum}
		order by cart_num desc
	</select>

	
	<select id="checkCart" resultType="_int">
		select count(*)
		from cart
		where user_num = #{userNum} and pro_num = #{proNum}
	</select>
	
	
	<update id="addCartCount">
		update cart
		set cart_quantity = cart_quantity + #{cartQuantity}
		where user_num = #{userNum} and pro_num = #{proNum}
	</update>
	
	
	<select id="selectCartViewList" resultMap="cartListResultSet">
		select *
        from cart
            outer join product using(pro_num)
        where user_num = #{userNum}
        order by cart_num desc
	</select>	
	
	
	<update id="updateCartQuantity">
		update cart
		set cart_quantity = #{cartQuantity}
		where user_num = #{userNum} and pro_num = #{proNum}
	</update>
	
	
	<delete id="deleteSelectCart">
		delete from cart
		where pro_num = #{i}
	</delete>
	
	
	<select id="selectPayList" resultMap="paymentDTOResultSet">
<!-- 		select a.address_num, a.address_name, a.address_addressee, a.address_phone, -->
<!-- 		        a.address_zipcode, a.address_building, a.address_detail, address_basic, a.user_num, a.address_status, -->
<!-- 		        c.cart_num, c.pro_num, c.cart_quantity, p.pro_num, p.pro_image, p.pro_name, p.pro_company, p.pro_ingredient, -->
<!-- 		        p.pro_price, p.pro_effect, p.pro_intake, p.pro_sale_status, p.pro_createdate, p.pro_modifydate, p.pro_grade, -->
<!-- 		        p.pro_status, p.cate_num -->
<!-- 		from address a -->
<!-- 		    full outer join cart c on(a.user_num = c.user_num) -->
<!-- 		    right outer join (select * from product where pro_num = #{proNum}) p on(c.pro_num = p.pro_num) -->
<!-- 		where a.user_num = #{userNum} and a.address_basic = 'Y' -->			
			select  c.cart_num, c.cart_quantity, p.pro_num, p.pro_image, p.pro_name, p.pro_company, p.pro_ingredient,
			        p.pro_price, p.pro_effect, p.pro_intake, p.pro_sale_status, p.pro_createdate, p.pro_modifydate, p.pro_grade,
			        p.pro_status, p.cate_num
			from (select * from cart where user_num = #{userNum}) c
			    full outer join product p on(c.pro_num = p.pro_num)
			where p.pro_num = #{proNum}
	</select>
	
	<select id="selectCouponList" resultMap="couponResultSet">
		select *
		from coupon
		where user_num = #{userNum} and cou_used = 'N' and cou_enddate >= sysdate 
	</select>
	
	<insert id="insertOrders">
		insert into orders
		values (seq_order.nextval, #{orderCode}, #{userNum}, #{userId}, #{orderDate},#{orderStatus},
				#{orderPayAmount},#{orderTotalPrice},#{orderUserName},#{orderPaymethod},#{orderCouponPrice},#{orderImpCode},#{orderPhone},#{addressNum},#{orderRequest})
	</insert>
	
	<delete id="deleteCart">
		delete from cart where pro_num = #{proNum}
	</delete>
	
	<insert id="insertOrderDetails">
		insert into order_details
		values (#{orderCode}, #{proNum}, #{proName}, #{orderQuantity})
	</insert>
	
	<select id="selectOrderList" resultMap="orderListResultSet">
		select *
	    from orders
	        right outer join order_details using(order_code)
	    where order_code = #{orderCode}
	</select>
	
	<select id="selectSearchList" resultMap="supplementResultSet">
		select  *
		from product
		where pro_name like '%'||#{search}||'%'
	</select>
	
	<select id="selectCateList" resultMap="supplementResultSet">
		select *
		from product
		where pro_effect like '%'||#{proEffect}||'%'
		order by pro_num asc
	</select>
	
	<select id="selectUseCoupon" resultMap="couponResultSet">
		select * 
		from coupon
		where cou_number = #{couNum}
	</select>

</mapper>