<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="storyMapper">
	<!-- Board 폼 -->
	<resultMap type="Story" id="BoardResultSet">
		<id column="BOARD_NUM" property="boardNum"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="BOARD_CREATEDATE" property="boardCreateDate"/>
		<result column="BOARD_MODIFYDATE" property="boardModifyDate"/>
		<result column="BOARD_VIEW" property="boardView"/>
		<result column="BOARD_STATUS" property="boardStatus"/>
		<result column="USER_NUM" property="userNum"/>
		<result column="BOARD_TYPE" property="boardType"/>
		<association property="attachment" javaType="Attachment" resultMap="AttmResultSet"></association>
	</resultMap>
	
	<!-- 첨부파일 폼 -->
	<resultMap type="Attachment" id="AttmResultSet">
		<id  column="ATTACH_NUM" property="attachNum"/>
		<result column="ATTACH_UPLOADDATE" property="attachUploadDate"/>
		<result column="ATTACH_NAME" property="attachName"/>
		<result column="ATTACH_RENAME" property="attachRename"/>
		<result column="ATTACH_PATH" property="attachPath"/>
		<result column="BOARD_TYPE" property="boardType"/>
		<result column="SERIALNUMBER" property="serialNumber"/>
		<result column="ATTACH_STATUS" property="attachStatus"/>
	</resultMap>
	
	<!-- 컬럼 작성 -->
	<insert id="insertStory">
		insert into board
		values(SEQ_BOARD.nextVal, #{boardTitle}, #{boardContent}, SYSDATE, SYSDATE,  0, 'Y', #{userNum}, 3)
	</insert>
	
	<!-- 컬럼 리스트 수 가져오기 -->
	<select id="getStoryListCount" resultType="_int">
		select count(*) from board where board_status = 'Y'
	</select>
	
	<!-- 컬럼 썸네일 등록 -->
	<insert id="insertThumbnail">
		insert into attachment
		values(SEQ_ATTACH.nextval, SYSDATE, #{attachName}, #{attachRename}, #{attachPath}, #{boardType}, SEQ_BOARD.currval, 'Y')
	</insert>
	
	<!-- 컬럼 썸네일 가져오기 -->
	<select id="selectThunbnail" resultMap="AttmResultSet">
		select * from attachment
		where board_type= 3 and SERIALNUMBER = #{ boardNum }
	</select>
	
	<!-- 컬럼 리스트 가져오기 -->
	<select id="allStory" resultMap="BoardResultSet">
		select board_num, board_title, board_content, board_createDate, board_modifyDate, board_view, board_status, user_num, attach_rename
		from board 
		join attachment on board_num = SERIALNUMBER
		order by board_num desc
	</select>
	
	<!-- 컬럼 디테일 가져오기 -->
	<select id="selectStory" resultMap="BoardResultSet">
		select * from board
		where board_status ='Y' and board_type= 3 and board_num = #{ boardNum }
	</select>
	
	<!-- 조회수 올리기 -->
	<update id="updateView">
		update board
		set board_view = board_view + 1
		where board_status = 'Y' and board_type = 3 and board_num = #{ boardNum }
	</update>
	
	<!-- 북마크 -->
	<insert id="insertBookmark">
		insert into clip
		values( #{boardNum}, #{userNum})
	</insert>
	
	<!-- 북마크 삭제하기 -->
	<delete id="deleteBookmark">
		delete from clip
		where board_num = #{boardNum} and user_num = #{userNum}
	</delete>
</mapper>