<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="supplementMapper">

	<!-- 상품 불러오기 -->
	<select id="selectProduct" resultMap="SupplementResultSet">
		select *
		from product
		where pro_status = 'Y';
	</select>
	
	<!-- 성분 수 불러오기 -->
	<select id="getListCount" resultType="_int">
		select count(*)
		from category
	</select>
	
	<!-- 성분 내역 불러오기 -->
	<select id="allCategory" resultMap="CategoryResultSet">
		select *
		from category
	</select>
	
	<!-- 성분 설명 불러오기 -->
	<select id="selectCategory" resultMap="CategoryResultSet">
		select *
		from category
		where cate_num = #{cateNum}
	</select>
	
	<!-- 카테고리 관련 상품 불러오기 -->
	<select id="selectCateProduct" resultMap="SupplementResultSet">
		select *
		from product
		where cate_num = #{cateNum}	
	</select>
	
	<!-- 영양제 한개만 불러오기 -->
	<select id="selectPro" resultMap="SupplementResultSet">
		select *
		from product
		where pro_num = #{proNum}
	</select>
	
	<!-- 리뷰 작성하기 -->
	<insert id="insertReview">
		INSERT INTO REVIEW 
		VALUES(SEQ_RV.NEXTVAL, #{proNum}, #{userNum}, #{rvContent}, SYSDATE, SYSDATE, 'N',  4.5, 'Y')
	</insert>
	
	<!-- 리뷰 사진 넣기 -->
	<insert id="insertReviewAttm">
		insert into attachment
		VALUES(SEQ_ATTACH.NEXTVAL, SYSDATE, #{attachName}, #{attachRename}, #{attachPath}, 7, SEQ_RV.CURRVAL , 'N')
	</insert>
	
	<!-- 리뷰 존재하는지 체크 -->
	<select id="checkReview" resultMap="ReviewResultSet">
		select * from review
		where pro_num = #{proNum} and user_num = #{userNum}
	</select>
	
	<!-- 리뷰 리스트 가져오기 -->
	<select id="reviewList" resultMap="ReviewResultSet">
		select * 
		from review
		join member using(user_num)
		where pro_num = #{proNum}
	</select>
	
	<!-- 성분 폼 -->
	<resultMap type="ProCategory" id="CategoryResultSet">
		<id column="CATE_NUM" property="cateNum"/>
		<result column="CATE_NAME" property="cateName"/>
		<result column="CATE_SUMMARY" property="cateSummary"/>
		<result column="CATE_ICON" property="cateIcon"/>
	</resultMap>
	
	<!-- 영양제 폼 -->
	<resultMap type="Supplement" id="SupplementResultSet">
		<id column="PRO_NUM" property="proNum"/>
		<result column="PRO_IMAGE" property="proImage"/>
		<result column="PRO_NAME" property="proName"/>
		<result column="PRO_COMPANY" property="proCompany"/>
		<result column="PRO_INGREDIENT" property="proIngredient"/>
		<result column="PRO_PRICE" property="proPrice"/>
		<result column="PRO_EFFECT" property="proEffect"/>
		<result column="PRO_INTAKE" property="proIntake"/>
		<result column="PRO_SALE_STATUS" property="proSaleStatus"/>
		<result column="PRO_CREATEDATE" property="proCreateDate"/>
		<result column="PRO_MODIFYDATE" property="proModifyDate"/>
		<result column="PRO_GRADE" property="proGrade"/>
		<result column="PRO_STATUS" property="proStatus"/>
		<result column="CATE_NUM" property="cateNum"/>
	</resultMap>
	
	<!-- 첨부파일 폼 -->
	<resultMap type="Attachment" id="AttmResultSet">
		<id  column="ATTACH_NUM" property="attachNum"/>
		<result column="ATTACH_UPLOADDATE" property="attachUploadDate"/>
		<result column="ATTACH_NAME" property="attachName"/>
		<result column="ATTACH_RENAME" property="attachRename"/>
		<result column="ATTACH_PATH" property="attachPath"/>
		<result column="BOARD_TYPE" property="boardType"/>
		<result column="SERIALNUMBER" property="serialNumber"/>
		<result column="ATTACH_STATUS" property="attachStatus"/>
	</resultMap>
	
	<!-- 리뷰 폼 -->
	<resultMap type="Review" id="ReviewResultSet">
		<id column="RV_NUM" property="rvNum"/>
		<result column="PRO_NUM" property="proNum"/>
		<result column="USER_NUM" property="userNum"/>
		<result column="RV_CONTENT" property="rvContent"/>
		<result column="RV_CREAETEDATE" property="rvCreateDate"/>
		<result column="RV_MODIFYDATE" property="rvMOdifyDate"/>
		<result column="RV_STATUS" property="rvStatus"/>
		<result column="RV_STAR" property="rvStar"/>
		<result column="RV_BUY" property="rvBuy"/>
	</resultMap>
	
   <select id="selemetMember" resultMap="memberResultSet">
      select *
      from member
      where user_status='Y' and user_num=#{i}
   </select>
   
   <resultMap type="Member" id="memberResultSet">
      <id column="USER_NUM" property="userNum"/>
      <result column="USER_ID" property="userId"/>
      <result column="USER_PWD" property="userPwd"/>
      <result column="USER_NAME" property="userName"/>
      <result column="USER_NICKNAME" property="userNickname"/>
      <result column="USER_EMAIL" property="email"/>
      <result column="USER_GENDER" property="gender"/>
      <result column="USER_BIRTH" property="userBirth"/>
      <result column="USER_PHONE" property="userPhone"/>
      <result column="USER_RECOMMEND" property="userRecommend"/>
      <result column="USER_ENROLLDATE" property="userEnrollDate"/>
      <result column="USER_CNUMBER" property="userCNumber"/>
      <result column="USER_STATUS" property="userStatus"/>
      <result column="USER_MODIFYDATE" property="userModifyDate"/>
   </resultMap>
</mapper>