<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="supplementMapper">

	<!-- 상품 불러오기 -->
	<select id="selectProduct" resultMap="SupplementResultSet">
		select *
		from product
		where pro_status = 'Y';
	</select>
	
	<!-- 성분 수 불러오기 -->
	<select id="getListCount" resultType="_int">
		select count(*)
		from product_category
	</select>
	
	<!-- 성분 내역 불러오기 -->
	<select id="allCategory" resultMap="CategoryResultSet">
		select *
		from product_category
	</select>
	
	<!-- 성분 설명 불러오기 -->
	<select id="selectCategory" resultMap="CategoryResultSet">
		select *
		from product_category
		where cate_num = #{cateNum}
	</select>
	
	<!-- 카테고리 관련 상품 불러오기 -->
	<select id="selectCateProduct" resultMap="SupplementResultSet">
		select *
		from product
		where cate_num = #{cateNum}	
	</select>
	
	<!-- 영양제 한개만 불러오기 -->
	<select id="selectPro" resultMap="SupplementResultSet">
		select *
		from product
		where pro_num = #{proNum}
	</select>
	
	<!-- 리뷰 작성하기 -->
	<insert id="insertReview">
		INSERT INTO REVIEW 
		VALUES(SEQ_RV.NEXTVAL, #{proNum}, #{userNum}, #{rvContent}, SYSDATE, SYSDATE, 'Y',  #{rvStar}, 'Y', 0)
	</insert>
	
	<!-- 리뷰 수정하기 -->
	<update id="updateReview">
		update review
		set rv_Content = #{rvContent}, rv_star = #{rvStar}
		where pro_num = #{proNum} and user_num = #{userNum}
	</update>
	
	<!-- 리뷰 삭제하기 -->
	<update id="deleteReview">
		update review
		set rv_status = #{rvStatus}
		where pro_num = #{proNum} and user_num = #{userNum}
	</update>
	
	<!-- 리뷰 사진 넣기 -->
	<insert id="insertReviewAttm">
		insert into attachment
		VALUES(SEQ_ATTACH.NEXTVAL, SYSDATE, #{attachName}, #{attachRename}, #{attachPath}, 7, SEQ_RV.CURRVAL , 'Y')
	</insert>
	
	<!-- 리뷰 존재하는지 체크 -->
	<select id="checkReview" resultMap="ReviewResultSet">
		select * from review
		where pro_num = #{proNum} and user_num = #{userNum}
	</select>
	
	<!-- 리뷰 리스트 가져오기 -->
	<select id="reviewList" resultMap="ReviewResultSet">
		select * 
		from review
		join member using(user_num)
		where pro_num = #{proNum}
		order by rv_num desc
	</select>
	
	<!-- 리뷰 사진 불러오기 -->
	<select id="imageSelect" resultMap="AttmResultSet">
		select ATTACH_RENAME
		from attachment
		where BOARD_TYPE= 7 and SERIALNUMBER = #{rvNum}
	</select>
	
	<!-- 평점 저장하기 -->
	<update id="rateUpdate">
		 update product set PRO_GRADE = #{proGrade} where pro_num = #{proNum}
	</update>
	
	<!-- 카테고리 상세보기 리뷰 리스트 불러오기 -->
	<select id="selectReviewList" resultMap="ReviewResultSet">
		select *
		from review
		join product using (pro_num)
		join member using (user_num)
		where cate_num = #{cateNum}
		order by rv_num desc
	</select>
	
	<!-- 리뷰 수 불러오기 -->
	<select id="getReviewListCount" resultType="_int">
		select count(*)
		from review
		join product using(pro_num)
		where cate_num = #{cateNum}
	</select>
	
	<!-- 카테고리 검색 -->
	<select id="searchList" resultMap="CategoryResultSet">
		select  *
		from product_category
		where cate_name like '%'||#{search}||'%'
	</select>
	
	<!-- 리뷰 추천 -->
	<insert id="insertReco">
		insert into REVIEW_RECOMMEND
		values(#{rvNum}, #{userNum})
	</insert>
	
	<!-- 리뷰 추천 삭제 -->
	<delete id="deleteReco">
		delete from REVIEW_RECOMMEND
		where rv_num = #{rvNum} and user_num = #{userNum}
	</delete>
	
	<!-- 관리자 리뷰 리스트 가져오기 -->
	<!-- 1. 제품 번호 순 -->
	<select id="adminReviewListN" resultMap="ReviewResultSet">
        select 
        PRO_NUM, USER_NUM, RV_NUM, RV_CONTENT, TO_CHAR(review.RV_CREATEDATE, 'YYYY-MM-DD') STR_CREATEDATE, TO_CHAR(RV_MODIFYDATE, 'YYYY-MM-DD') STR_MODIFYDATE, RV_STATUS, RV_STAR, RV_BUY, RV_RECOMMEND, USER_ID, USER_PWD, USER_NAME,
        USER_NICKNAME, USER_GENDER, USER_BIRTH, USER_PHONE, USER_RECOMMEND, USER_ENROLLDATE, USER_CNUMBER, USER_STATUS, USER_MODIFYDATE, PRO_IMAGE,PRO_NAME, PRO_COMPANY, PRO_INGREDIENT, PRO_PRICE, PRO_EFFECT, PRO_INTAKE, PRO_SALE_STATUS, PRO_CREATEdATE, PRO_MODIFYDATE, PRO_GRADE,
        PRO_STATUS, CATE_NUM from review
		join member using (user_num)
        join product using (pro_num)
        order by pro_num asc
	</select>
	
	<!-- 2. 제품 이름 순 -->
	<select id="adminReviewListNa" resultMap="ReviewResultSet">
        select 
        PRO_NUM, USER_NUM, RV_NUM, RV_CONTENT, TO_CHAR(RV_CREATEDATE, 'YYYY-MM-DD') STR_CREATEDATE, TO_CHAR(RV_MODIFYDATE, 'YYYY-MM-DD') STR_MODIFYDATE, RV_STATUS, RV_STAR, RV_BUY, RV_RECOMMEND, USER_ID, USER_PWD, USER_NAME,
        USER_NICKNAME, USER_GENDER, USER_BIRTH, USER_PHONE, USER_RECOMMEND, USER_ENROLLDATE, USER_CNUMBER, USER_STATUS, USER_MODIFYDATE, PRO_IMAGE,PRO_NAME, PRO_COMPANY, PRO_INGREDIENT, PRO_PRICE, PRO_EFFECT, PRO_INTAKE, PRO_SALE_STATUS, PRO_CREATEdATE, PRO_MODIFYDATE, PRO_GRADE,
        PRO_STATUS, CATE_NUM from review
		join member using (user_num)
        join product using (pro_num)
        order by pro_name asc
	</select>
	
	<!-- 3. 제품 추천 순 -->
	<select id="adminReviewListG" resultMap="ReviewResultSet">
        select 
        PRO_NUM, USER_NUM, RV_NUM, RV_CONTENT, TO_CHAR(RV_CREATEDATE, 'YYYY-MM-DD') STR_CREATEDATE, TO_CHAR(RV_MODIFYDATE, 'YYYY-MM-DD') STR_MODIFYDATE, RV_STATUS, RV_STAR, RV_BUY, RV_RECOMMEND, USER_ID, USER_PWD, USER_NAME,
        USER_NICKNAME, USER_GENDER, USER_BIRTH, USER_PHONE, USER_RECOMMEND, USER_ENROLLDATE, USER_CNUMBER, USER_STATUS, USER_MODIFYDATE, PRO_IMAGE,PRO_NAME, PRO_COMPANY, PRO_INGREDIENT, PRO_PRICE, PRO_EFFECT, PRO_INTAKE, PRO_SALE_STATUS, PRO_CREATEdATE, PRO_MODIFYDATE, PRO_GRADE,
        PRO_STATUS, CATE_NUM from review
		join member using (user_num)
        join product using (pro_num)
        order by rv_recommend desc
	</select>
	
	<!-- 관리자 리뷰 리스트 수 -->
	<select id="adminReviewListCount" resultType="_int">
		select count(*) from review
		join member using (user_num)
        join product using (pro_num)
        order by rv_num desc
	</select>
	
	<!-- 리뷰 추천 카운트 가져오기 -->
	<select id="selectRecoCount" resultType="_int">
		select count(*)
		from review_recommend
        where rv_num = #{rvNum}
	</select>
	
	<!-- 리뷰 카운트 수정하기 -->
	<!-- 1. 올리기 -->
	<update id="updateReviewCount">
		update review
		set rv_recommend = rv_recommend + 1
		where rv_num = #{rvNum}
	</update>
	<!-- 2. 내리기 -->
	<update id="deleteReviewCount">
		update review
		set rv_recommend = rv_recommend - 1
		where rv_num = #{rvNum}
	</update>
	
	<!-- 영양제 insert -->
	<insert id="insertProduct">
		insert product
		values(seq_pro.nextval, #{proImage}, #{proName}, #{proCompany}, #{proIngredient}, #{proPrice}, #{proEffect}, #{proIntake}, #{proSaleStatus}, sysdate, sysdate, 0, 'Y' ,#{cateNum} )
	</insert>
	
	<!-- 성분 폼 -->
	<resultMap type="ProCategory" id="CategoryResultSet">
		<id column="CATE_NUM" property="cateNum"/>
		<result column="CATE_NAME" property="cateName"/>
		<result column="CATE_SUMMARY" property="cateSummary"/>
		<result column="CATE_ICON" property="cateIcon"/>
	</resultMap>
	
	<!-- 영양제 폼 -->
	<resultMap type="Supplement" id="SupplementResultSet">
		<id column="PRO_NUM" property="proNum"/>
		<result column="PRO_IMAGE" property="proImage"/>
		<result column="PRO_NAME" property="proName"/>
		<result column="PRO_COMPANY" property="proCompany"/>
		<result column="PRO_INGREDIENT" property="proIngredient"/>
		<result column="PRO_PRICE" property="proPrice"/>
		<result column="PRO_EFFECT" property="proEffect"/>
		<result column="PRO_INTAKE" property="proIntake"/>
		<result column="PRO_SALE_STATUS" property="proSaleStatus"/>
		<result column="PRO_CREATEDATE" property="proCreateDate"/>
		<result column="PRO_MODIFYDATE" property="proModifyDate"/>
		<result column="PRO_GRADE" property="proGrade"/>
		<result column="PRO_STATUS" property="proStatus"/>
		<result column="CATE_NUM" property="cateNum"/>
	</resultMap>
	
	<!-- 첨부파일 폼 -->
	<resultMap type="Attachment" id="AttmResultSet">
		<id  column="ATTACH_NUM" property="attachNum"/>
		<result column="ATTACH_UPLOADDATE" property="attachUploadDate"/>
		<result column="ATTACH_NAME" property="attachName"/>
		<result column="ATTACH_RENAME" property="attachRename"/>
		<result column="ATTACH_PATH" property="attachPath"/>
		<result column="BOARD_TYPE" property="boardType"/>
		<result column="SERIALNUMBER" property="serialNumber"/>
		<result column="ATTACH_STATUS" property="attachStatus"/>
	</resultMap>
	
	<!-- 리뷰 폼 -->
	<resultMap type="Review" id="ReviewResultSet">
		<id column="RV_NUM" property="rvNum"/>
		<result column="PRO_NUM" property="proNum"/>
		<result column="USER_NUM" property="userNum"/>
		<result column="RV_CONTENT" property="rvContent"/>
		<result column="RV_CREAETEDATE" property="rvCreateDate"/>
		<result column="RV_MODIFYDATE" property="rvMOdifyDate"/>
		<result column="STR_CREAETEDATE" property="strCreateDate"/>
		<result column="STR_MODIFYDATE" property="strMOdifyDate"/>
		<result column="RV_STATUS" property="rvStatus"/>
		<result column="RV_STAR" property="rvStar"/>
		<result column="RV_BUY" property="rvBuy"/>
		<result column="RV_RECOMMEND" property="rvRecommend"/>
		<association property="member" javaType="Member" resultMap="memberResultSet"/>
		<association property="supplement" javaType="Supplement" resultMap="SupplementResultSet"/>
	</resultMap>
	
   <select id="selemetMember" resultMap="memberResultSet">
      select *
      from member
      where user_status='Y' and user_num=#{i}
   </select>
   
   <resultMap type="Member" id="memberResultSet">
      <id column="USER_NUM" property="userNum"/>
      <result column="USER_ID" property="userId"/>
      <result column="USER_PWD" property="userPwd"/>
      <result column="USER_NAME" property="userName"/>
      <result column="USER_NICKNAME" property="userNickname"/>
      <result column="USER_EMAIL" property="email"/>
      <result column="USER_GENDER" property="gender"/>
      <result column="USER_BIRTH" property="userBirth"/>
      <result column="USER_PHONE" property="userPhone"/>
      <result column="USER_RECOMMEND" property="userRecommend"/>
      <result column="USER_ENROLLDATE" property="userEnrollDate"/>
      <result column="USER_CNUMBER" property="userCNumber"/>
      <result column="USER_STATUS" property="userStatus"/>
      <result column="USER_MODIFYDATE" property="userModifyDate"/>
   </resultMap>
</mapper>